In [1]:
import pandas as pd

In [7]:
data = {
    'X' : [1, 2, 3, 4, 5],
    'Y' : [2, 5, 7, 9, 10]
}

In [9]:
df = pd.DataFrame(data)

In [11]:
df

   X   Y
0  1   2
1  2   5
2  3   7
3  4   9
4  5  10

In [13]:
pearson_corr = df['X'].corr(df['Y'])
print('Pearson Correlation Coefficient: ', pearson_corr)

Pearson Correlation Coefficient:  0.985329278164293

In [15]:
df.corr()

          X         Y
X  1.000000  0.985329
Y  0.985329  1.000000