In [2]:
import pandas as pd

In [4]:
from sklearn.preprocessing import OrdinalEncoder

In [7]:
data = [
    ['good'], ['bad'], ['excellent'], ['average'], 
    ['good'], ['average'], ['excellent'], ['bad'], 
    ['average'], ['good']
]

In [9]:
df = pd.DataFrame(data, columns=['reviews'])

In [11]:
df

     reviews
0       good
1        bad
2  excellent
3    average
4       good
5    average
6  excellent
7        bad
8    average
9       good

In [15]:
df.shape

(10, 1)

In [18]:
categories = [['bad', 'average', 'good', 'excellent']]

In [20]:
categories

[['bad', 'average', 'good', 'excellent']]

In [40]:
encoder = OrdinalEncoder(categories=categories)

In [42]:
encoded_data = encoder.fit_transform(data)

In [56]:
encoded_data

array([[2.],
       [0.],
       [3.],
       [1.],
       [2.],
       [1.],
       [3.],
       [0.],
       [1.],
       [2.]])

In [58]:
decoded_data = encoder.inverse_transform(encoded_data)
decoded_data

array([['good'],
       ['bad'],
       ['excellent'],
       ['average'],
       ['good'],
       ['average'],
       ['excellent'],
       ['bad'],
       ['average'],
       ['good']], dtype=object)