# Raw Code

In [3]:
def min_max_scaling(data):
    min_value = min(data)
    max_value = max(data)
    scaled_data = [(x-min_value)/(max_value-min_value) for x in data]
    return scaled_data

In [5]:
data = [1, 2, 3, 4]
scaled_data = min_max_scaling(data)
print('Original Data: ', data)
print('Scaled Data: ', scaled_data)

Original Data:  [1, 2, 3, 4]
Scaled Data:  [0.0, 0.3333333333333333, 0.6666666666666666, 1.0]

# Using Sklearn

In [8]:
import pandas as pd

In [10]:
from sklearn.preprocessing import MinMaxScaler

In [14]:
data = {
    'Feature1': [1, 5, 10, 4, 5],
    'Feature2': [6, 7, 8, 19, 10]
}
df = pd.DataFrame(data)
df.head()

   Feature1  Feature2
0         1         6
1         5         7
2        10         8
3         4        19
4         5        10

In [34]:
scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(df)
scaled_df = pd.DataFrame(scaled_data, columns=df.columns)

In [36]:
print(scaled_df)

   Feature1  Feature2
0  0.000000  0.000000
1  0.444444  0.076923
2  1.000000  0.153846
3  0.333333  1.000000
4  0.444444  0.307692