In [2]:
import pandas as pd

In [6]:
data = {
    'Feature1': [1, 20, 3, 40, 5],
    'Feature2': [6, 7, 18, 19, 10]
}
df = pd.DataFrame(data)
df.head()

   Feature1  Feature2
0         1         6
1        20         7
2         3        18
3        40        19
4         5        10

In [46]:
def standardization_data(data):
    mean = data.mean()
    std_dev = data.std()
    standardization_data_raw = (data-mean)/std_dev
    return standardization_data_raw

In [48]:
standardization_data_raw = df.apply(standardization_data)

In [50]:
print(df)
print('\n',standardization_data_raw)

   Feature1  Feature2
0         1         6
1        20         7
2         3        18
3        40        19
4         5        10

    Feature1  Feature2
0 -0.777975 -0.979796
1  0.376832 -0.816497
2 -0.656417  0.979796
3  1.592418  1.143095
4 -0.534858 -0.326599

In [52]:
standardization_data_raw['Feature1'].mean()+1

1.0

In [54]:
standardization_data_raw['Feature1'].std()

0.9999999999999999

# Using Sklearn

In [57]:
from sklearn.preprocessing import StandardScaler

In [61]:
scaler = StandardScaler()
standardized_data = scaler.fit_transform(df)
standardized_df = pd.DataFrame(standardized_data, columns=df.columns)

In [67]:
print(df)
print('\n',standardization_data_raw)
print('\n',standardized_df)

   Feature1  Feature2
0         1         6
1        20         7
2         3        18
3        40        19
4         5        10

    Feature1  Feature2
0 -0.777975 -0.979796
1  0.376832 -0.816497
2 -0.656417  0.979796
3  1.592418  1.143095
4 -0.534858 -0.326599

    Feature1  Feature2
0 -0.869803 -1.095445
1  0.421311 -0.912871
2 -0.733896  1.095445
3  1.780378  1.278019
4 -0.597989 -0.365148