In [ ]:
!pip install gspread

In [35]:
import pandas as pd
import gspread as gs

In [37]:
gc = gs.service_account(filename = "C:\\Users\\MSE SONET\\Downloads\\test1-441008-1233fdd2c78f.json")

In [39]:
gc

In [17]:
sheet = gc.open_by_url('https://docs.google.com/spreadsheets/d/1a3Cp9s-Z-Zv5htFesARvojlAhBWYFNBRVi3hUGN_gnk/edit?usp=sharing')

In [23]:
ws = sheet.worksheet('Sheet1')

In [25]:
ws

In [29]:
df = pd.DataFrame(ws.get_all_records())

In [31]:
df

     Name1  Age1
0    Nayem    21
1  Razowan    22
2    Sonet    23
3     Neha    24

In [33]:
ws2 = sheet.worksheet('Sheet2')
df = pd.DataFrame(ws2.get_all_records())
df

    Name2  Age2
0   Rajan    20
1  Robiul    25
2  Bashar    29
3  Tanzim    35